/*
 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 *
 * Hijacked and adoped by @qwtel. Learn more at
 * http://qwtel.com/hydejack.
 */

/* Icon font for github, twitter, etc */
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?bytfto');
    src:    url('../fonts/icomoon.eot?bytfto#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?bytfto') format('truetype'),
        url('../fonts/icomoon.woff?bytfto') format('woff'),
        url('../fonts/icomoon.svg?bytfto#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "PT Serif", Georgia, serif;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", Georgia, serif;
}

a {
  position: relative;
  padding-bottom: 0.15em;
  border-bottom: 0.15em solid transparent;
}
a:hover,
a:focus {
  text-decoration: none;
  border-bottom: 0.15em solid;
}

/* Styles for "Cesar" link hover effect. */
/*a::after,
a::before {
  font-family: 'icomoon'!important;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms;
  text-shadow: 0 0 .125em #fff, 0 0 .25em #fff, 0 0 .5em #fff;
}

a:hover::after,
a:hover::before,
a:focus::after,
a:focus::before {
  opacity: 1;
}

 a::before {
  content: "(";
  -webkit-transform: translateX(-0.5em) translateY(0.075em);
  -ms-transform: translateX(-0.5em) translateY(0.075em);
  transform: translateX(-0.5em) translateY(0.075em);
}

 a::after {
  content: ")";
  -webkit-transform: translateX(0.05em) translateY(0.075em);
  -ms-transform: translateX(0.05em) translateY(0.075em);
  transform: translateX(0.05em) translateY(0.075em);
}*/

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  position: relative;
  z-index: 4;
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.75);
  background-color: #202020!important;
  text-align: left;

  background-size: cover;
  background-position: center center;
}
/* make sidebar slightly darker to increase text readability (when using a background image) */
.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(32, 32, 32, .33);
}

.drawer {
  padding-left: 0.5rem;
}

/* Use larg desktop styles for mobile as well when the JS "drawer" is active */
.drawer > .sidebar {
  position: fixed;
  bottom: 0;
  top: 0;
  left: -17.5rem;
  width: 18rem;
  will-change: transform;
  /*box-shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.15)*/
}

.drawer > .sidebar::before {
  background: -moz-linear-gradient(bottom,  rgba(32,32,32,0) 0%, rgba(32,32,32,.5) 100%);
  background: -webkit-linear-gradient(bottom,  rgba(32,32,32,0) 0%,rgba(32,32,32,.5) 100%);
  background: linear-gradient(to bottom,  rgba(32,32,32,0) 0%,rgba(32,32,32,.5) 100%);
}

.drawer > .sidebar > .sidebar-sticky {
  position: absolute;
  right:  1rem;
  bottom: 1rem;
  left:   1rem;
}

.backdrop {
  display: none;
}

.drawer > .backdrop {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  z-index: 3;
  will-change: opacity;
  pointer-events: none;
}

.drawer-open {
  overflow: hidden;
}

.drawer-open > .backdrop {
  pointer-events: all;
}

.menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1rem ;
  color: #9a9a9a;
  z-index: 2;
}

.menu:hover,
.menu:focus {
  border-bottom: none;
}

.drawer > .menu {
  left: 0.5rem;
}

@media (min-width: 48em) {
  .menu {
    display: none;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    /* Disable drawer positiioning on larger screens (already done via JS, but just to be sure) */
    -webkit-transform: translate3d(0,0,0)!important;
    -ms-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
  }
  .sidebar::before {
    background: -moz-linear-gradient(bottom,  rgba(32,32,32,0) 0%, rgba(32,32,32,.5) 100%);
    background: -webkit-linear-gradient(bottom,  rgba(32,32,32,0) 0%,rgba(32,32,32,.5) 100%);
    background: linear-gradient(to bottom,  rgba(32,32,32,0) 0%,rgba(32,32,32,.5) 100%);
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about > h1 {
  font-family: "Roboto Slab", "PT Serif", Georgia, serif;
  color: #fff;
  margin-top: 0;
  font-size: 2rem;
}

.sidebar-about code {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1.25rem;
}
.sidebar-nav > ul {
  list-style: none;
  padding-left: 0;
}
.sidebar-nav-item {
  font-family: "Roboto Slab", "PT Serif", Georgia, serif;
  font-weight: bold;
  display: block;
  line-height: 1.75;
  padding: .25rem .1rem;
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.23);
}
.sidebar-nav > ul > li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
}

.sidebar-social {
  margin-bottom: 1.25rem;
}
.sidebar-social > a {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-right: 1rem;
}
.sidebar-social > a:last-child {
  margin-right: 0;
}

/* Enable z-index (derived from DOM structure) for the sidbar content. */
.container {
  position: relative;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */
@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 58rem;
    margin-left: 20rem;
    margin-right: 2rem;
    border-left: none;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

/* Override pool styles that are specific to this theme */
.post-date {
  font-weight: bold;
}

.related-posts li a {
  font-weight: normal;
}

/* Icon font styles */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* "Better" Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-github:before {
  content: "\e900";
}
.icon-icon-twitter:before {
  content: "\e901";
}

.me {
    width: 6.5rem;
    margin-top: -4.8rem;
    margin-left: 1rem;
    border-radius: 100%;
    position: relative;
    z-index: 2;
    float: right;
}
@media (min-width: 38em) {
  .me {
    width: 7rem;
    margin-top: -5.05rem;
  }
}
@media (min-width: 48em) {
  .me {
    width: 6.5rem;
    margin-top: -4.8rem;
  }
}
@media (min-width: 58em) {
  .me {
    width: 7rem;
    margin-top: -5.05rem;
  }
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 1rem -1rem;
  padding: 1rem;
  background-color: #f9f9f9;
}

.MathJax_Preview {
  font-family: monospace;
  margin-bottom: 1rem;
}

.katex-loaded .MathJax_Preview {
  display: none;
}
