{% assign image = page.image %}

{% unless image %}
  {% if page.tag %}
    {% assign tag = site.data.tags[page.tag] %}
    {% assign image = tag.image %}
  {% else %}
    {% if page.tags.size > 0 %}
      {% assign tag_name = page.tags[0] %}
      {% assign tag = site.data.tags[tag_name] %}
      {% assign image = tag.image %}
    {% endif %}
  {% endif %}
{% endunless %}

{% unless image %}
  {% assign image = site.image %}
{% endunless %}

<div   id="_backdrop" class="backdrop"></div>
<aside id="_sidebar" class="sidebar" {% if image %}style="background-image:url('{{ image }}')"{% endif %}>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <p><a class="sidebar-about"><b>1º Encontro Brasileiro de Hardware Aberto e Livre.</b></a></p>
      <p><a class="sidebar-about"><b>De 29 a 31 de Outubro de 2016 - São Paulo, SP</b></a></p>
    </div>

    <nav class="sidebar-nav">
      <ul>
        {% for tag_key in site.sidebar_tags %}
          {% assign tag = site.data.tags[tag_key] %}
          <li>
            <a class="sidebar-nav-item" href="/e-hal/"> Início</a>
          </li>
        {% endfor %}

        {% comment %}
          The code below dynamically generates a sidebar nav of pages with
          `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}

        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
            <li>
              <a class="sidebar-nav-item {% if page.url == node.url %}active{% endif %}" href="{{ node.url | prepend:site.baseurl }}">{{ node.title }}</a>
            </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div class="sidebar-social">
      {% if site.author.github %}
        {% include icon-github.html username=site.author.github %}
      {% endif %}

      {% if site.author.twitter %}
        {% include icon-twitter.html username=site.author.twitter %}
      {% endif %}
    </div>
  </div>
</aside>
